/*
   1. animation-name : 애니메이션 keyframes와 연결할 이름
   2. animation-delay : 애니메이션 실행을 특정 시간동안 지연시켜준다.
   3. animation-fill-mode : 애니메이션 실행 후 속성이 지속되게 한다(forwards 적용 시)
   4. animation-iterati
on-count : 애니메이션 실행 횟수 지정
   5. animation-direction : 애니메이션 변화 후 변화 이전으로 자동 계산하여 실행(alternate 적용 시)
   6. animation-duration : 애니메이션 지속 시간 지정
*/

div {
  width: 400px;
  height: 400px;
  padding: 50px;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

div p {
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 0;
  /* 크기는 200 -> 300, 색상은 red -> yellow로 변형되는 애니메이션 */

  /* 지연시간 */
  animation-delay: 0.3s;

  /* 진행 횟수 */
  animation-iteration-count: 4;

  /* 진행 시간 */
  animation-duration: 1s;

  /* 애니메이션 이름 */
  animation-name: example;

  /* 진행 방향 */
  animation-direction: alternate;

  /* 마지막 모양 유지 */
  animation-fill-mode: forwards;

  /* 축약형 */
  _animation: example 2s 4 alternate forwards 0.3s;
} /* 애니메이션이 어떠한 속도, 횟수 등으로 변경될지 옵션을 지정 */

@keyframes example {
  0% {
    width: 200px;
    height: 200px;
    background: red;
    border-radius: 0;
  } /* from으로 대체 가능 */
  100% {
    width: 300px;
    height: 300px;
    background: yellow;
    border-radius: 50%;
  } /* to로 대체 가능 */
}
